
  <body class="text-center">
  <div id="fixedHeader" class="" style="display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
  top: 0px;
  background: #ffffff;
  box-shadow: 2px 2px 20px;">
    <img class="stickyImg" style=" height: 95px; width: 200px;" src="https://dreammachineusaorg.stage.site/wp-content/uploads/2021/06/the-dream-machine-logo-rectangle-min.png">
    <a href="https://www.dreammachineusa.org/" class="home_button_container" style="margin-right: 1%;">
      <button class="home_button">
      HOME
      </button>
    </a>
  </div>
    <div class="form-signin">
  </div>
  <div class="row" style="margin-top: 120px !important;">
    <div class="col-md-8 offset-md-2">
        <div class="row">
        <div class="col-md-6">
                <div>
                    <img class="kingKellPhoto" src="https://www.dreammachineusa.org/wp-content/uploads/2021/10/Tony-Rojas-Chef-compressed.jpg" height="450"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-section"  style="padding-top: 0 !important; background: #fff !important;">
                    <br />
                    <br />
                    <h3 class="heading" style="text-align: center !important; color: #EA088C;"> Thank you for your donation, you have just helped a dream come true!</h2>
                    <p class="left_align" style="text-align: center !important;">Your donation was received.</p>
                    <br />
                    <br />
                    <a href="https://qrstud.io/gcu3ult">
                    <button class="donate_button" style="border: 0;">Download Dreamr</button>
                    </a> 
                    </div>
            </div>
        </div>
    </div>
  </div>
</body>



<style>
.campaignPhoto {
  max-height: 500px;
  max-width: 250px;
}
.kingKellPhoto {
  max-height: 500px;
  max-width: 400px;
  border: solid 6px #EA088C;
  border-right-width: 10px;
  border-radius: 35px 15px 35px 15px;
}
.donate_button{
  text-shadow: none !important;
  background: #EA088C !important;
}
.home_button{
  border-radius: 5px;
  border: none;
  font-size: 1.3rem !important;
  text-shadow: none !important;
  background: #95C83E !important;
  height: 60px;
}
</style>