
  <body class="text-center">
  <div class="logo-div">
    <div class="site-logo"><a href="https://dreammachineusa.org/" class="custom-logo-link" rel="home"><img width="1150" height="711" src="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png" class="custom-logo" alt="Dream Machine USA" srcset="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png 1150w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-300x185.png 300w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-1024x633.png 1024w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-768x475.png 768w" sizes="(max-width: 1150px) 100vw, 1150px"></a></div>
  </div>
    <div class="form-signin">
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row">
        <div class="col-md-6">
                <div>
                    <img style="" class="kingKellPhoto" src="https://www.dreammachineusa.org/wp-content/uploads/2021/10/Tony-Rojas-Chef-compressed.jpg" height="550"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-section" style="padding-top: 0 !important; background: #fff !important;">
                <br />    
                <h2 class="heading" style="color: #EA088C; text-align: center;"> Payment Method</h2>
                    <p class="left_align" style="text-align: center !important;">Your donation will help Tony Rojas and his family</p>
                    <%= form_tag charges_path, method: 'post', id: 'payment-form' do %>
                        <div class="left_align">
                            <br />
                            <input type="text" id="amount" name="amount" class="card-fields" placeholder="Enter Amount"/>
                            <br />
                            <input type="text" id="email" name="email" class="card-fields" placeholder="Email"/>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="first_name" name="first_name" class="card-fields" placeholder="First Name"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="last_name" name="last_name" class="card-fields" placeholder="Last Name"/>
                                </div>
                            </div>
                            <br />
                            <input type="radio" id="billing_name" name="billing_name" value="Use as billing name">
                            <br />
                            <input type="text" id="name" name="name" class="card-fields" placeholder="Name on Card"/>
                            <br />
                            <br />
                            <input type="text" data-stripe="number" class="card-fields" placeholder="Card Number"/>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-12" style="display: flex;
                                justify-content: center;">
                                    <input style="margin-right: 10px; border-radius: 12px;" type="text" size="5" data-stripe="exp-month" class="card-fields-date" placeholder="MM"/>
                                    <input style=" border-radius: 12px; margin-right: 10px;" type="text" size="5" data-stripe="exp-year" class="card-fields-date" placeholder="YYYY"/>
                                    <input style="border-radius: 12px;" type="text" size="4" data-stripe="cvc" placeholder="CVC"/>

                                    </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <input style="border-radius: 12px;" type="text" id="country" name="country" class="card-fields" placeholder="US" value="US"/>
                                </div>
                                <div class="col-md-6">
                                    <input style="border-radius: 12px;" type="text" id="postal_code" name="postal_code" class="card-fields" placeholder="Postal Code"/>
                                </div>
                            </div>
                            <input type="hidden" id="description" name="description" value="Tony Rojas Compaign"/>
                            <br />
                            <br />
                        </div>
                        <button type="submit" class="donate_button" style="border: 0;">Donate</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

<style>
.donate_button{
  text-shadow: none !important;
  background: #EA088C !important;
}

form input[type=text]{
    margin-bottom: 10px;
}

.kingKellPhoto {
  max-height: 500px;
  max-width: 400px;
  border: solid 6px #EA088C;
  border-right-width: 10px;
  border-radius: 35px 15px 35px 15px;
}
</style>