<head>
<title>Dream Machine USA - Help us raise $50K to get Tony Rojas off the streets and into his food truck!</title>
<link rel="icon" 
      type="image/png" 
      href="https://www.dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png" />
</head>
  <body class="text-center" style="left: 12px;">
  <div id="fixedHeader" class="" style="display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
  top: 0px;
  background: #ffffff;
  box-shadow: 2px 2px 20px;">
    <img class="stickyImg" style=" height: 95px; width: 200px;" src="https://dreammachineusaorg.stage.site/wp-content/uploads/2021/06/the-dream-machine-logo-rectangle-min.png">
    <a href="https://www.dreammachineusa.org/" class="home_button_container" style="margin-right: 1%;">
      <button class="home_button">
      HOME
      </button>
    </a>
  </div>

    <div class="form-signin">
  </div>
  <div class="row" style="margin: 0 !important; margin-top: 120px !important; justify-content: center !important;">
    <div class="col-md-8 offset-md-2" style="margin: 0 !important;">
        <div class="row" style="margin: 0; width: 100%; justify-content: center !important;">
        <div class="col-md-6" style="display: flex; justify-content: center;">
        <div>
          <img class="kingKellPhoto" src="https://www.dreammachineusa.org/wp-content/uploads/2021/10/Tony-Rojas-Chef-compressed.jpg" height="550"/>
        <div>
          <img style="max-width: 340px; margin-top: 10px;" src="https://www.dreammachineusa.org/wp-content/uploads/2021/10/credit-card-logos-transparent-eoRj.png" style="max-width: 200px;"></div>
        </div> 
    </div>

            </div>
            <div class="col-md-6" style="width: 100% !important;">
                <div class="info-section" style="background: #fff !important; padding: 0 !important;">
                    
                    <br />
                    <h2 class="heading" style="text-align: center !important;"> Help us raise $50K to get Tony Rojas off the streets and to start his food truck business!<br/><br/> </h2>
                    <p class="left_align">Tony Rojas was working as a chef for a local restaurant in Colorado Springs. When COVID hit, he lost his job, and him and his wife couldn't afford to pay the bills on their apartment anymore. For the last 18 months, they have been living out a van and have been homeless. Tony also struggles with mental health issues, and this has been the hardest 18 months of his life. His big dream is to get him and his wife off the streets and to open up a food truck, so he can support his family! Let's help Tony get off the streets and help make his dream come true.</p> 
                    <p class="left_align">Please donate and help Tony's family, we need your help!</p>
                    <p class="left_align" style="font-size: 20px; line-height: 1.4; color: #000000; font-weight: 600;"><i>By contributing to Tony's fundraiser - you will receive a Rare Nacho NFTaco that will be given for free exclusively to campaign contributors(even if it's through venmo/cashapp/paypal, just provide your email and mention 'Tony Rojas'). The NFTs will be claimable right after the fundraiser is over, with details sent to the email you enter on the donation form.</i></p><br/><br/>
                    <%= button_to "Donate", charge_path(:take_card_info), :class => "donate_button", :method => :get %>
                  </div>
                  <br />
                  <br />
                    <!-- Sharingbutton Facebook -->
<a style="color: transparent !important;" class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdonate.dreammachineusa.org%2F%3Fcampaign%3DGarrett-Underwood-SeedHouse-fund" target="_blank" rel="noopener" aria-label="Share on Facebook">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
    </div style="color: #000 !important;"><p style="color: #fff; margin: 0;">Share on Facebook</p></div>
</a>

<!-- Sharingbutton Twitter -->
<a style="color: transparent !important;" class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url=https%3A%2F%2Fdonate.dreammachineusa.org%2F%3Fcampaign%3DGarrett-Underwood-SeedHouse-fund" target="_blank" rel="noopener" aria-label="Share on Twitter">
  <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
    </div style="color: #000 !important;"><p style="color: #fff; margin: 0;">Share on Twitter</p></div>
</a>

                        <br />
                        <br />
                </div>
                <div><p style="font-size: 11px; text-align: justify;">Charlie Rocket's Dream Machine (the "Dream Machine Tour") is a charitable organization as described in 501(C)(3) of the Internal Revenue Code; EIN# 85-3606644 registered in the state of Nevada. In accordance with the Internal Revenue Service guidelines, dream machine ... maintains discretion and sole control over the use of all donated funds once a tax-deductible receipt is issued. All donations are non-refundable.
                 Dream Machine Tour honors the donor's written request for anonymity. Donors explicitly release Dream Machine USA  from any restrictions on how those are funds are spent. No goods or services were provided in return for any contribution. Contributions are generally tax-deductible to the limit allowed by law.</p></div>
            </div>
        </div>
    </div>
  </div>
</body>


<style>


.animated-progress {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid rgb(189, 113, 113);
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

.progress-color span {
  background-color: #EA088C;
}


.kingKellPhoto {
  max-height: 500px;
  max-width: 400px;
  border: solid 6px #EA088C;
  border-right-width: 10px;
  border-radius: 35px 15px 35px 15px;
}

.heading {
  color: #EA088C !important;
}

.donate_button{
  color: #fff !important;
  border: none;
  font-size: 1.3rem !important;
  text-shadow: none !important;
  background: #EA088C !important;
}

.home_button{
  border-radius: 5px;
  border: none;
  font-size: 1.3rem !important;
  text-shadow: none !important;
  background: #95C83E !important;
  height: 60px;
}

.campaignPhoto {
  max-height: 250px;
  max-width: 500px;
}

@media only screen and (max-width: 900px) {
  .garrettVideo{
    height: 300px;
    width: 375px;
  }

  .home_button_container{
    margin-right: 4% !important;
  }
}


.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

</style>
