// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


input {

    border: 3px solid #e40a89;
 }

.button-pay {
    border: none;
    background-color: #e40a89 !important;
    border-radius: 5px;
    transition: all 1.2s;
}

.button-pay:hover {
    background-color: #8b0855 !important;
}