
  <body class="text-center">

  <div class="logo-div">
    <div class="site-logo"><a href="https://dreammachineusa.org/" class="custom-logo-link" rel="home"><img width="1150" height="711" src="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png" class="custom-logo" alt="Dream Machine USA" srcset="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png 1150w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-300x185.png 300w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-1024x633.png 1024w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-768x475.png 768w" sizes="(max-width: 1150px) 100vw, 1150px"></a></div>
  </div>
    <div class="form-signin">
    <h2>Donate Monthly</h2>
  </div>

  <%= form_tag charges_path, method: 'post', id: 'payment-form' do %>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">

          <div class="field">
            <label>
              <input type="text" id="name" class="card-fields" placeholder="Name"/>
            </label>
          </div>

          <div class="field">
            <label>
              <input type="text" id="email" class="card-fields" placeholder="Email"/>
            </label>
          </div>

          <div class="field">
            <label>
              <input type="text" data-stripe="number" class="card-fields" placeholder="Card Number"/>
            </label>
          </div>

          <div class="field">
            <label>
              <input type="text" data-stripe="cvc" class="card-fields" width="100%" placeholder="CVC"/>
            </label>
          </div>

          <div class="field">
            <label>
              <input type="text" size="2" data-stripe="exp-month" class="card-fields-date" placeholder="MM"/>
            </label>
              <input type="text" size="4" data-stripe="exp-year" class="card-fields-date" placeholder="YYYY"/>
          </div>

          <div class="field">
            <label>
              <input type="text" id="amount" class="card-fields" placeholder="Amount"/>
            </label>
          </div>

        <div class="actions">
        <button class="button-pay" type="submit">Start Monthly Donation</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</body>
<div class="container">
  <div class="site-info"><div class="site-name"><div class="site-logo footer-logo"><a href="https://dreammachineusa.org/" class="custom-logo-link" rel="home"><img width="1150" height="711" src="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png" class="custom-logo" alt="Dream Machine USA" srcset="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png 1150w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-300x185.png 300w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-1024x633.png 1024w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-768x475.png 768w" sizes="(max-width: 1150px) 100vw, 1150px"></a></div></div><!-- .site-name --><div class="powered-by footer-power"> Proudly powered by <a href="https://wordpress.org/">WordPress</a>.</div><!-- .powered-by --></div>
</div>

