
  <body class="text-center">
  <style>
input {
  border: 2px solid #e40a89 !important;
}

.button-pay {
  margin: 0 !important;
  border: none;
  background: #e40a89 !important;
  border-radius: 5px;
  transition: all 1s;
  height: 40px;
  font-family: "lato", "sans-serif";
}

.button-pay:hover {
  background: #8b0855 !important;
  box-shadow: 2px 0px 10px #00000060;
}



</style>
  <div class="logo-div">
    <div class="site-logo"><a style="margin-top: 0 !important;" href="https://dreammachineusa.org/" id="mobile" class="custom-logo-link" rel="home"><img id="mobile" style="margin-top: 0 !important;" width="1150" height="711" src="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png" class="custom-logo mobile" alt="Dream Machine USA" srcset="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png 1150w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-300x185.png 300w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-1024x633.png 1024w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-768x475.png 768w" sizes="(max-width: 1150px) 100vw, 1150px"></a></div>
  </div>
    <div class="form-signin">
    <h2>One-time Donation</h2>
  </div>

  <%= form_tag charges_path, method: 'post', id: 'payment-form' do %>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">

          <div class="field" id="mobile">
            <label>
              <input type="text" id="name" class="card-fields" placeholder="Name"/>
            </label>
          </div>

          <div class="field" id="mobile">
            <label>
              <input type="text" id="email" class="card-fields" placeholder="Email"/>
            </label>
          </div>

          <div class="field" id="mobile">
            <label>
              <input type="text" data-stripe="number" class="card-fields" placeholder="Card Number"/>
            </label>
          </div>

          <div class="field" id="mobile">
            <label>
              <input type="text" data-stripe="cvc" class="card-fields" width="100%" placeholder="CVC"/>
            </label>
          </div>

          <div class="field" id="mobile">
            <label>
              <input type="text" size="4" data-stripe="exp-month" class="card-fields-date" placeholder="MM"/>
            </label>
              <input type="text" size="8" data-stripe="exp-year" class="card-fields-date" placeholder="YYYY"/>
          </div>

          <div class="wrapper">
          <input type="radio" name="select" id="Cvalue1" value="500">
          <input type="radio" name="select" id="Cvalue2" value="250">
          <input type="radio" name="select" id="Cvalue3" value="175">
          <input type="radio" name="select" id="Cvalue4" value="100">
          <input type="radio" name="select" id="Cvalue5" value="50">
          <input type="radio" name="select" id="Cvalue6" value="11">
            <label for="Cvalue1" class="option option-1">
              <div class="dot"></div>
              <span>$500</span>
            </label>
            <label for="Cvalue2" class="option option-2">
              <div class="dot"></div>
              <span>$250</span>
            </label>
            <label for="Cvalue3" class="option option-3">
              <div class="dot"></div>
              <span>$175</span>
            </label>
            <label for="Cvalue4" class="option option-4">
              <div class="dot"></div>
              <span>$100</span>
            </label>
            <label for="Cvalue5" class="option option-5">
              <div class="dot"></div>
              <span>$50</span>
            </label>
            <label for="Cvalue6" class="option option-6">
              <div class="dot"></div>
              <span>$11</span>
            </label>
         </div>

          <div class="field" id="mobile">
            <label>
              <input type="text" id="amount" class="card-fields" placeholder="Amount"/>
            </label>
          </div>

        <div style="margin-top: 30px;" class="actions" id="mobile">
        <button class="button-pay" type="submit">Make Donation</button>
          <div>
            <h3>Terms and Conditions:</h3>
            <p>These payments are secure and your information will only be stored in an encrypted manor.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <script>

  document.querySelector('#Cvalue1').onclick = function(){ document.querySelector('#amount').value = document.querySelector('#Cvalue1').value};
  document.querySelector('#Cvalue2').onclick = function(){ document.querySelector('#amount').value = document.querySelector('#Cvalue2').value};
  document.querySelector('#Cvalue3').onclick = function(){ document.querySelector('#amount').value = document.querySelector('#Cvalue3').value};
  document.querySelector('#Cvalue4').onclick = function(){ document.querySelector('#amount').value = document.querySelector('#Cvalue4').value};
  document.querySelector('#Cvalue5').onclick = function(){ document.querySelector('#amount').value = document.querySelector('#Cvalue5').value};
  document.querySelector('#Cvalue6').onclick = function(){ document.querySelector('#amount').value = document.querySelector('#Cvalue6').value};

  
function myTimer() {


  function cvalue1() { 
    if(document.getElementById('Cvalue1').checked) {
      document.querySelector('#amount').value = document.querySelector('#Cvalue1').value;
    }
}
  function cvalue2() { 
    if(document.getElementById('Cvalue2').checked) {
      document.querySelector('#amount').value = document.querySelector('#Cvalue2').value;
    }
}
  function cvalue3() { 
    if(document.getElementById('Cvalue3').checked) {
      document.querySelector('#amount').value = document.querySelector('#Cvalue3').value;
    }
}
function cvalue4() { 
  if(document.getElementById('Cvalue4').checked) {
    document.querySelector('#amount').value = document.querySelector('#Cvalue4').value;
  }
}
function cvalue5() { 
  if(document.getElementById('Cvalue5').checked) {
    document.querySelector('#amount').value = document.querySelector('#Cvalue5').value;
  }
}
function cvalue6() { 
  if(document.getElementById('Cvalue6').checked) {
    document.querySelector('#amount').value = document.querySelector('#Cvalue6').value;
  }
}
}

setInterval(myTimer, 500);
  </script>

  <% end %>
</body>


