
  <body class="text-center">
  <div class="logo-div">
    <div class="site-logo"><a href="https://dreammachineusa.org/" class="custom-logo-link" rel="home"><img width="1150" height="711" src="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png" class="custom-logo" alt="Dream Machine USA" srcset="https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare.png 1150w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-300x185.png 300w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-1024x633.png 1024w, https://dreammachineusa.org/wp-content/uploads/2021/05/cropped-DreamMachineLogoSquare-768x475.png 768w" sizes="(max-width: 1150px) 100vw, 1150px"></a></div>
  </div>
    <div class="form-signin">
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row">
        <div class="col-md-6">
                <div>
                    <img src="https://images.gofundme.com/NLlPGIuCOn3HN4P7WaZFx3ZjUs8=/1200x900/https://d2g8igdw686xgo.cloudfront.net/58631955_1626910134193243_r.jpeg" height="600"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-section">
                    <h2 class="heading"> Payment Method</h2>
                    <p class="left_align">Your donation will help Shelby</p>
                    <%= form_tag charges_path, method: 'post', id: 'payment-form' do %>
                        <div class="left_align">
                            <input type="radio" id="paypal" name="billing_method" value="Paypal">
                            <label for="paypal">Paypal</label>
                            <br />
                            <input type="radio" id="credit_or_debit" name="billing_method" value="Credit or Debit" checked="checked">
                            <label for="billing_method">Credit or Debit</label>
                            <br />
                            <input type="text" id="email" name="email" class="card-fields" placeholder="Email"/>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="first_name" name="first_name" class="card-fields" placeholder="First Name"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="last_name" name="last_name" class="card-fields" placeholder="Last Name"/>
                                </div>
                            </div>
                            <br />
                            <input type="radio" id="billing_name" name="billing_name" value="Use as billing name">
                            <label for="billing_name">Use as billing name</label>
                            <br />
                            <input type="text" id="name" name="name" class="card-fields" placeholder="Name on Card"/>
                            <br />
                            <br />
                            <input type="text" data-stripe="number" class="card-fields" placeholder="Card Number"/>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                <label>
                                    <input type="text" size="2" data-stripe="exp-month" class="card-fields-date" placeholder="MM"/>
                                </label>
                                <input type="text" size="4" data-stripe="exp-year" class="card-fields-date" placeholder="YYYY"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" data-stripe="cvc" class="card-fields" width="100%" placeholder="CVC"/>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="country" name="country" class="card-fields" placeholder="Country"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="postal_code" name="postal_code" class="card-fields" placeholder="Postal Code"/>
                                </div>
                            </div>
                            <input type="hidden" id="description" name="description" value="Shelby Compaign"/>
                            <br />
                            <br />
                        </div>
                        <button type="submit" class="donate_button">Donate</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

